<h2>CADASTRO</h2>
<mat-grid-list cols="1" rowHeight="500px">
  
    <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="fill" class="width-50">
            <mat-label>First Name</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="width-50 ml-2">
            <mat-label>Surname</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="Ex. pat@example.com">
          </mat-form-field>
          <br>
          <div class="row">
            <div class="input-field col s12">
                <mat-label>Already have an account? <a href="login.php">Login</a></mat-label>
            </div>
        </div>
        </div>
    </mat-grid-tile>
    </mat-grid-list>