<h2>CADASTRO</h2>
<mat-grid-list cols="1" rowHeight="500px" [formGroup]="form">
  
    <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Gmail</mat-label>
            <input matInput type="email" ngModel [email]="true" formControlName="email">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>CREDCAR NUMBER</mat-label>
            <input matInput placeholder="fill"  [value]="defaultCredicard" readonly="true">
          </mat-form-field>
          <br>

           <button mat-raised-button color="black" (click)="createUser()" class="width-50">
              <mat-icon>save</mat-icon> Salvar
          </button>
  
            <button mat-raised-button color="black" (click)="redirectToLoging()" class="width-50 ml-2">
              <mat-icon>login</mat-icon> Já Possuo Cadastro / Login
          </button>

          
          
        </div>
    </mat-grid-tile>
    </mat-grid-list>