<div>
    <h3>FUNCIONÁRIOS</h3>
    <button mat-raised-button color="gray" (click)="openAddUserDialog()">NOVO</button>
    <mat-card *ngFor="let element of (employeesData | async); let i = index" class="kid">
        
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon [svgIcon]="element.icon"></mat-icon>
            </div>
            
            <button mat-button (click)="__cardClick(element)">
                {{ element.name }}
            </button>
            <button mat-button (click)="__cardClick(element)">
                {{element.email}}
            </button>
            <button mat-button color="primary" (click)="openUserDialog(i, element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="primary" (click)="openLeadsByUser(element.userId)">
                <mat-icon>account_box</mat-icon>
            </button>
            <button mat-button (click)="deleteItem(element.userId)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-header>
        <hr>
    </mat-card>
</div>