<div class="body">
    <div class="login">
        <img class="img-responsive" src="assets/images/user_login.png" alt="" width="50%" height="80%">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <asl-google-signin-button type='standard' logo_alignment="center" theme="filled_black" size='medium'
            class="gclass">
        </asl-google-signin-button>
        <br>
        <button (click)="ingresar()" class="ancho" mat-raised-button mat-button color="primary">Primary</button>
    </div>
</div>