<div>
    <h3>LEADS</h3>
    <button mat-raised-button color="gray" (click)="openAddLeadDialog()">NOVO</button>
    <mat-card *ngFor="let element of (leadsData | async); let i = index" class="kid">
        
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon [svgIcon]="getSvgIcon()"></mat-icon>
            </div>
            
            <!-- <mat-card-subtitle>{{ element.age }}</mat-card-subtitle> -->
            <!-- <div fxFlex></div> -->
            <button mat-button (click)="__cardClick(element)">
                {{ element.name }}
            </button>
            <button mat-button (click)="__cardClick(element)">
                {{element.email}}
            </button>
            <button mat-button color="primary" (click)="openLeadDialog(i, element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="deleteItem(element.leadId)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-header>
        <hr>
    </mat-card>
</div>