<mat-sidenav-container class="app-sidenav-container" [dir]="'ltr'">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z2" [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">Menus</mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>home</mat-icon> Nome
        <!-- <a matLine [routerLink]="['/employeemanager']">
          <mat-icon>home</mat-icon> Home
        </a> -->
      </mat-list-item>
      <mat-list-item>
        <mat-icon>attach_file</mat-icon> Funcionarios
      </mat-list-item>
      <mat-list-item>
        <mat-icon>add_comment</mat-icon> Leads
      </mat-list-item>
      <mat-list-item>
        <mat-icon (click)="logOut()">apps</mat-icon> Logout
      </mat-list-item>
    </mat-nav-list>
    <div class="copyright-container">
      <a href="https://myview.rahulnivi.net" target="_blank"><span>Copyright &copy; Rahul Sahay </span></a>
      <div fxFlex></div>
    </div>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>